<% if(locals.path ) { %>
    <div class="folder-pagination">
        <a href="/drive"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/></svg></a>
    <% path.forEach((path) => { %>
        <span><a href="/drive/<%=path.uuid%>"><%=path.name%></a>/</span>
    <% }) %>
    </div>
<% } %>
<section class="dir-list-container">
    <ul>
        <%if(locals.folders) { %>
            <% folders.forEach( (folder) => { %>
                <li>
                    <a class="folder-link" href="/drive/<%= folder.uuid %>">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Z"/></svg>
                    <%= folder.name %>
                    </a>
                </li>
            <% }) %>
        <%}else { %>
        <li>Folder is empty</li>
        <% } %>
    </ul>
</section>