<footer>
    <ul>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
    <span>
      <a href="https://github.com/vertskater">  &copy; Christoph Mitterwallner, All Rights Reserved</a>
    </span>
</footer>