<%- include('partials/header', {title: title})%>

<main class="container">
    <h1 class="sign-up-in-heading">Login to drive</h1>
    <%- include('partials/errors', {title: title}) %>
    <form action="/" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Login">
    </form>
    <span class="sign-in-up-switch">Not a Drive User yet?<a href="/signup"> Sign-up for a new account</a></span>
    <div class="login-portfolio">
        <form action="/" method="POST">
            <input type="hidden" value="portfolio" >
            <input type="hidden" value="Geheim12345!">
            <input type="submit" value="Login with Test-Account">
        </form>
    </div>
    <script>

    </script>
</main>

<%- include('partials/footer') %>