<%- include('partials/header', {title: title})%>
<main class="container">
    <form action="<%= locals.folderId ? `/drive/${folderId}/upload-file` : '/drive/upload-file'%>" method="post" enctype="multipart/form-data">
        <label for="fileUpload">File:</label>
        <input type="file" name="fileUpload" id="fileUpload">
        <input type="submit" value="Upload">
    </form>
</main>
<%- include('partials/footer')%>